.login-form {
  padding: 20px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  text-align: center;
}

.login-form > img {
  margin: auto;
}

.login-title {
  margin: 0 0 40px;
}

.login-error {
  color: red;
  margin: 0 12px;
  text-align: start;
  font-size: 13px;
}
