.btn {
  cursor: pointer;
  background: linear-gradient(90deg, #8ec590, #71af74);
  box-shadow: 0 0 4px 0 #8ec590;
  border: none;
  padding: 12px;
  border-radius: 3px;
  color: #fff;
  font-size: inherit;
  font-family: inherit;
  margin: auto 0;
}
