.header {
  box-shadow: 0 0.9px 1.5px -18px rgb(0 0 0 / 2%), 0 2.4px 4.1px -18px rgb(0 0 0 / 4%),
    0 5.7px 9.9px -18px rgb(0 0 0 / 5%), 0 19px 33px -5px rgb(0 0 0 / 7%);
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  background: #fff;
  z-index: 2;
}

.title {
  padding: 0 15px;
  margin: 0;
}

.subtitle {
  padding: 0 15px;
  font-weight: lighter;
  margin: 0;
}

.profile {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.profile > h4 {
  margin: 0 10px 0;
}

.logout {
  margin-left: 10px;
  cursor: pointer;
}
